mat-toolbar {
  display: flex;
  justify-content: space-between;
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #020407,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #020407,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

::ng-deep .mat-menu-content{
  background-color: #ffffff;
}

.links {
    display: flex;
    justify-content: center;

}

.sublink {
    display: flex;
    flex-direction: column;
    align-items: center;
}

svg {
  fill: #da1c5c;
}

a {
    color: #da1c5c;
    text-decoration: none;
    font-size: small;
}