<div class="wrapper">
    <app-header></app-header>
    <div class="body">
    <div class="fab-wrapper">
        <div class="fab">
        <button aria-label="Add note button"
            class="fab-btn mat-elevation-z10"
            #fabBtn
            color="accent"
            mat-fab
            (click)="addNote()"
            
        >
            <mat-icon>add</mat-icon>
        </button>
        <mat-label class="my-2">Add Note</mat-label>
        </div>
    </div>
    <div class="container text-center heading mt-2">
        <mat-icon class="mx-1" color="accent">error</mat-icon>
        <p>
        Data is stored in array for demo. If you refresh the page, data will be
        reset.
        </p>
    </div>
    <div class="container mt-2">
        <div class="row gy-3">
        <div
            class="col-sm"
            *ngFor="let note of notes; let i = index; trackBy: trackByNote"
        >
            <mat-card
            class="mat-elevation-z4"
            #cardRef
            (mouseenter)="mouseEnter(i)"
            (mouseleave)="mouseLeave(i)"
            >
            <mat-card-title>{{ note.title }}</mat-card-title>
            <hr class="text-muted" />
            <mat-card-content>{{ note.note }}</mat-card-content>
            <mat-card-actions>
                <mat-icon (click)="editNote(i)">edit</mat-icon>
                <mat-icon class="delete" (click)="deleteNote(i)">delete</mat-icon>
            </mat-card-actions>
            </mat-card>
        </div>
        </div>
    </div>
    </div>
</div>
